{% extends "base_page.html" %}

{% block page-title %}
Статистика по словам
{% endblock %}

{% block page-lead %}
Попыток в тесте ещё не было
{% endblock %}

{% block content %}
<div class="container px-4 py-5" id="stats">
    <div>
        <h3 class="py-2">Количество терминов</h3>
    </div>
    <div class="row text-center">
        <div class="col-md-4">
            <h4>{{ words_all }}</h4>
            <p class="text-muted">всего</p>
        </div>
        <div class="col-md-4">
            <h4>{{ words_own }}</h4>
            <p class="text-muted">изначально бывших в базе</p>
        </div>
        <div class="col-md-4">
            <h4>{{ words_added }}</h4>
            <p class="text-muted">добавленных через <a href="/word-add">форму добавления термина</a></p>
        </div>
    </div>
</div>
{% endblock %}

